/* Global */
body {
    margin: 0;
    font-size: 16px;
    text-align: center;
    min-width: 24.375rem;
    font-family: 'Inter', sans-serif;
}

.container,
.hero section,
.services,
.resources div:first-of-type,
article div:first-of-type {
    max-width: 1100px;
    margin: 0 auto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2 {
    font-weight: 400;
}

h1,
h2,
h3 {
    line-height: 3.1875rem;
}

p,
span {
    line-height: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 0.9rem;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ededed;
}

a:hover {
    text-decoration: underline;
}

.hero,
.services,
.resources,
article {
    padding: 2.375rem 2rem 2rem 2rem;
}

.hero,
.resources {
    background-color: #ededed;
}

/* header */
header,
footer {
    background-color: #000000;
    padding: 2rem;
}

.company-logo {
    width: 18rem;
}

header ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0;
}

/* Hero */
.hero .about-us-btn {
    width: 6.125rem;
    height: 3.5rem;
    background-color: #111111;
}

.about-us-btn {
    margin-left: calc((100% - 6.125rem) / 2);
    margin-bottom: 1.8rem;
    line-height: 3.5rem;
}

.about-us-btn,
.sign-up-btn,
img {
    border-radius: 0.3rem;
}

/* services */
.asterisk {
    margin-top: 2rem;
    margin-bottom: 0;
}

section:nth-of-type(1) .asterisk {
    font-size: 2.5rem;
}

section:not(:nth-of-type(1)) .asterisk {
    font-size: 2.2rem;
}

/* resources */
.resources .flex {
    margin-bottom: 2rem;
}

.resources img {
    margin-top: 1rem;
}

.quote {
    background-color: #111111;
    padding: 6.5rem 2rem 6.5rem 2rem;
    color: #ededed;
    line-height: 2.5rem;
}

blockquote {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.quote p:nth-last-child(1) {
    color: #a4a4a4;
}

.features {
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.features p {
    margin: 0;
}

.sign-up {
    padding: 2rem 2rem 2rem 2rem;
    background-color: #ededed;
}

.sign-up> :nth-child(1) {
    background-color: white;
    padding: 3rem;
}

.sign-up> :nth-child(1) p:nth-of-type(1) {
    font-size: 1.75rem;
    line-height: 3.1875rem;
}

.sign-up-btn {
    background-color: #111111;
    width: 5.375rem;
    height: 3rem;
    margin-left: calc((100% - 5.375rem) / 2);
    margin-bottom: 1.5rem;
}

.sign-up-btn a {
    line-height: 3rem;
}

/* footer */
footer {
    color: #ededed;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    text-align: center;
    width: 16rem;
}

.footer-links {
    display: flex;
    gap: 1rem;
    text-align: left;
}

.footer-links li:nth-child(1) {
    font-weight: bold;
    font-size: 1.2rem;
}

.footer-links a {
    line-height: 2rem;
    font-size: 0.8rem;
}

@media screen and (min-width: 700px) {
    .flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .services .flex {
        display: flex;
        text-align: left;
    }

    .services .flex section {
        width: calc((100% - 3rem) / 2);
    }

    .resources .flex {
        text-align: left;
    }

    .features {
        padding-left: 1rem;
        padding-bottom: 1rem;
    }

    .resources .flex img {
        width: 50%;
    }

    .resources .flex:last-of-type img {
        order: -1;
    }

    .sign-up> :nth-child(1) {
        width: 70%;
        margin-left: 15%;
    }

    footer .container {
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1100px) {
    .services .flex section {
        width: calc((100% - 3rem) / 3);
    }

    .resources> :nth-child(2) {
        display: flex;
        gap: 2rem;
    }

    .resources .flex {
        display: block;
    }

    .resources .flex img {
        width: 100%;
    }
}

/* Service Page */
article:nth-of-type(1) .text,
article h1,
article:nth-of-type(2) p:nth-of-type(1),
article h2 {
    font-size: 28px;
    line-height: 51px;
}

article p,
article h2 {
    text-align: left;
}

article:nth-of-type(1),
article:nth-of-type(3) {
    background-color: #ededed;
}

article:nth-of-type(2) {
    background-color: #111111;
    color: #ededed;
}

article:nth-of-type(4) p {
    text-align: center;
}

article:nth-of-type(4) p:nth-of-type(even) {
    font-weight: bold;
}

@media screen and (min-width: 700px) {
    article> :first-child {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    article img,
    .pic-and-cap,
    .text {
        width: 49%;
    }

    article p {
        margin: 0;
    }

    h1,
    h3,
    .pic-and-cap img,
    article:nth-of-type(4) p:nth-of-type(1) {
        width: 100%;
    }

    article:first-of-type img {
        margin-top: 1rem;
    }

    .pic-and-cap {
        order: -1;
        margin-top: 1rem;
    }

    .pic-and-cap p {
        text-align: left;
    }

    article:nth-of-type(2) {
        align-items: flex-start;
    }

    article:nth-of-type(2) div:nth-of-type(1) {
        margin-bottom: 0;
    }

    article:nth-of-type(4) p {
        width: 100%;
    }

    article:nth-of-type(4) div:nth-of-type(2) {
        margin: 0;
        width: 49%;
    }

    article:nth-of-type(4) .text,
    article:nth-of-type(4)>div>p:first-of-type {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 1100px) {

    article:nth-of-type(4) div:not(:first-of-type),
    article:nth-of-type(4)>div>div:first-of-type {
        width: 24%;
    }

    article:nth-of-type(4) {
        align-items: center;
    }
}